<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppSettings" type="SmitDemo.AppSettings, SmitDemo"/>
  </configSections>

  <AppSettings>
    <MachineSettings Length="0.5" Width="0.1" MaxCapacity="63"></MachineSettings>
    <ProductSettings Length="0.02" Width="0.01"></ProductSettings>
  </AppSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>